body {
    margin:0;
}

div#test{
    background-color: #3aaab5;
    margin:0;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

ol {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
}

ol > li {
  float:left;
  background-color:#FDD700;
  width:33%;
   
}

ol a {
  display:block;
  color:#000;
  text-decoration:none;
  padding:0 5px;
}

ol > li > a:hover {
  color:#09C;
}

ol > li:hover {
  background-color:#EEE;
}

